.form{
    box-shadow:2px 2px #b4b4b434;
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label{
    font-size: 18px;
    margin: 5px 0 ;
}

.input{
    padding: 10px;
}

.input:focus{
    outline: 0;
}